

 {% macro footer() %}
  <footer class="d-flex justify-content-between align-items-center  bg-dark text-white" >
    <div class="container-fluid  ">
      <div class="container">
        <p class="float-end"> <p>Copyright © 2025 永立群股份有限公司</p> 
      </div>
    </div>
  </footer>
{% endmacro %}
