{% from 'source/Views/layout/providerPage.njk' import providerSinglePage , providerItem%}
{% from 'source/Views/feature/promoGame.njk' import provider%}
 {% from 'source/Views/components/search.njk' import search %}
 {% macro gameCategory(img) %}
   <aside class="flex flex-1 flex-col px-4 py-[60px] min-h-12 bg-black fixed top-0 bottom-0 left-0 right-0 z-[9] overflow-y-auto slot" data-opan="slop" data-open="false">
    <div class="flex flex-[1 0 auto] w-full h-fit  items-center space-x-4">
       
        <button class="flex ml-auto items-center justify-center flex-none w-[48px] h-[48px] rounded-full  border border-dark-red3 border-8 provider-close" onclick="prodiverclose()">
            <i class=" icon-arrow before:bg-theme-red before:rotate-180"></i>
        </button>
      
        <div class="flex flex-1 flex-col  "> 
            <span class="text-white font-initial text-xl">Slot</span>
 
        </div>
    </div>

    {{ provider( img=img,   sample_img="GameProvide" , classNameContent='mt-4',classNameList='' ) }}
    {{search(className="flex-none")}}
  
    {{ providerItem(img=img) }}
  
   </aside>
{% endmacro %}
