{% from 'source/Views/components/card.njk' import Card %}
 {% from 'source/Views/components/button.njk' import button , buttonBorder %}
  {% from 'source/Views/components/textTitle.njk' import textTitle , textTitleBorder %}
 {% macro profile(img) %}
   <aside class="flex flex-1 flex-col px-4 pt-[60px] pb-[100px] min-h-12 bg-black fixed top-0 bottom-0 left-0 right-0 z-[9] overflow-y-auto profile" data-open="false">
    
    {% call Card( type="red") %}
    <div class="flex flex-1 flex-col h-fit  items-center justify-center space-x-4 py-4">
        <div class="flex flex-none w-[48px] h-[48px] border border-white  rounded-full text-sm">
            <img class="rounded-full" src="{{img}}/user.jpg" alt="">
        </div>
        <div class="flex flex-[1 0 auto] flex-col  "> 
            <span class="text-white font-initial text-2xl">UserName</span>
            <span class="text-theme-red text-base">TGID: 72947105</span>
        </div>
    </div>
    {% endcall %}
  
    <div class="flex flex-[1 0 auto] flex-col py-3  font-400 text-white ">
        <div class="flex flex-1">
            <span class="mr-auto">Balances:</span>
            <span>$ 1,000,000.00</span>
        </div>
        <div class="flex flex-1 space-x-3 mt-3">
            {{ button( type="red", className="flex-1 text-base", text='Deposit') }}
            {{ button( type="red", className="flex-1 text-base", text='Withdraw') }}
        </div>
    </div>
    <div class="flex flex-1 flex-col space-y-3 py-4">
        {% call textTitleBorder ( className="pt-3" ) %}
            {{ textTitle (text="Statistics") }}
        {% endcall %}
        {% call Card( type="black" , text="Total Wagered", text3xl="$ 6,398,204.00" , className="p-3 flex-1" ) %}
        {% endcall %}
        <div class="flex flex-1 space-x-2">
            {% call Card( type="black" , text="Total Bet", text2xl="$ 1,000K", className="p-3 flex-1"  ) %}{% endcall %}
            {% call Card( type="black" , text="Total Win", text2xl="$ 2,829K" , className="p-3 flex-1" ) %}{% endcall %}
        </div>
    </div>
    <div class="flex flex-1 flex-col space-y-3 py-4">
        {% call textTitleBorder ( className="pt-3" ) %}
            {{ textTitle (text="VIP Level") }}
        {% endcall %}
         <div class="flex flex-1 space-x-2">
            {% call Card( type="black" , text="LEVEL", text2xl="2", className="p-3 flex-1" ) %}{% endcall %}
            {% call Card( type="black" , text="Cash Back", text2xl="1 %" , className="p-3 flex-1") %}{% endcall %}
            {% call Card( type="black" , text="Rebate", text2xl="3 %"  , className="p-3 flex-1") %}{% endcall %}
        </div>
    </div>
    <div class="flex flex-1 flex-col space-y-3 py-4">
        {% call textTitleBorder ( className="pt-3" ) %}
            {{ textTitle (text="Referral") }}
        {% endcall %}
         <div class="flex flex-1 space-x-2">
            {% call Card( type="black" , text="Number of Referrals ", text2xl="6", className="p-3 flex-1" ) %}{% endcall %}
            {% call Card( type="black" , text="Referral Bonus", text2xl="$60" , className="p-3 flex-1") %}{% endcall %}
        </div>
    </div>
    <div class="flex flex-1 flex-col space-y-3 py-4">
        {% call textTitleBorder ( className="pt-3" ) %}
            {{ textTitle (text="Referral") }}
        {% endcall %}
         <div class="flex flex-1 space-x-2">
            {{button( type="red", text="Copy" , className="flex-1")}}
            {{button( type="red", text="Share", className="flex-1" )}}
        </div>
    </div>
   </aside>
{% endmacro %}
