
 {% from 'source/Views/components/button.njk' import buttonBorder %}
  {% from 'source/Views/components/search.njk' import search %}

{% macro providerItem(img , className='') %}
    <div class="flex flex-1 flex-wrap text-lg font-light mt-4 pb-[80px] {{className}} ">
     
        {% for item in range(0, 21) %}
            <div class="flex flex-none flex-col  w-[33.3%] h-[126px] flex-wrap px-1.5 text-xs text-white">
                <div class="flex flex-1 rounded-2xl bg-repeat bg-cover bg-center" style="background-image: url({{img}}/games/Sample_GameIcon-Fishing.jpg); "></div>
                <span class="px-4 py-2">Game title..</span>
            </div>
         
        {% endfor %}
          {{ buttonBorder (text="MORE" , className="mt-2") }}
    </div>
{% endmacro %}

 {% macro providerPage(img) %}
   <aside class="flex flex-1 flex-col px-4 py-[60px] min-h-12 bg-black fixed top-0 bottom-0 left-0 right-0 z-[9] overflow-y-auto provider" data-open="false">
    <div class="flex flex-[1 0 auto] w-full h-fit  items-center space-x-4">
       
        <button class="flex ml-auto items-center justify-center flex-none w-[48px] h-[48px] rounded-full  border border-dark-red3 border-8 provider-close" onclick="prodiverclose()">
            <i class=" icon-arrow before:bg-theme-red before:rotate-180"></i>
        </button>
      
        <div class="flex flex-1 flex-col  "> 
            <span class="text-white font-initial text-xl">Provider Name</span>
            <span class="text-theme-red text-xs">360 games</span>
        </div>
       
        
    </div>
    {{ providerItem(img=img) }}
  
   </aside>
{% endmacro %}


 {% macro providerSinglePage(img) %}
   <aside class="flex flex-1 flex-col pt-4 px-4 pb-[60px] min-h-12 bg-black ">
    <div class="flex flex-col flex-1 space-y-4">
        <div class="flex flex-1 flex-col  "> 
            <div class="max-w-[180px] max-h-[60px] mx-auto mb-2">
                <img class="fit-content" src="{{img}}/sample/Sample_GameProvide.png" alt="">
            </div>
            <span class="text-white text-center text-xs">100 games</span>
        </div>
        {{ search() }}
        
    </div>
    {{ providerItem(img=img) }}

   </aside>
{% endmacro %}
