{% from 'source/Views/components/button.njk' import button , buttonBorder %}
{% macro infoBoard( img, promo,minH ) %}

    <div class="row about-us__content">
        <div class="col-lg-5 ">
            <div class="about-us">
                <h2 class="text-title">為何選擇我們
                </h2>
                <div class="about-us__img" style="background-image: url('{{ img }}/demo/clean_7.jpg');"></div>
            </div>
            </div>
            <div class="col-lg-7">
                <div class="about-us__container">
                    <div class="row ">
                        <div class="col-md-6 ">
                            {{ infoBoardItem( title="專業服務，經驗豐富", content="豐富清潔經驗，專業細心服務，打造潔淨舒適的生活環境。 ",demoImg="team_4", img=img) }}
                        </div>
                        <div class="col-md-6 ">
                            {{ infoBoardItem( title="專業團隊，值得信賴 ", content="專業清潔團隊，細心負責，保障環境清潔與健康，讓您安心無憂。 ",demoImg="team_2", img=img) }}
                        </div>
                        <div class="col-md-6">
                            {{ infoBoardItem( title="品質卓越、服務可靠 ", content="嚴選清潔用品，細節到位，打造安全、舒適的居家與工作環境。 ",demoImg="team_1", img=img) }}
                        </div>
                        <div class="col-md-6">
                            {{ infoBoardItem( title="貼心服務，專業諮詢", content="了解您的需求，提供專業清潔建議，確保服務貼心又周到。 ",demoImg="team_3", img=img) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endmacro %}

        {% macro infoBoardItem(title,content,demoImg,img) %}

            <div class="info-board-item">
                <div class="row">
                    <div class="col-md-12">
                        <div class="info-board-item__img">
                            <img src="{{ img }}/team/{{ demoImg }}.png" alt=""></div>
                        </div>
                        <div class="col-md-12">
                            <div class="info-board-item__content">
                                <h2 class="text-style-title">{{ title }}</h2>
                                <p>{{ content }}</p>
                            </div>
                         
                        </div>
                    </div>
                </div>
            {% endmacro %}
