

    
{% macro promoGame(  promoGame_title="", icon="", img, icon_color ,  sample_img ) %}
   <section class="flex flex-col flex-initial min-w-0 mb-4  ">
        <h2 class=" flex items-center text-2xl space-x-2 text-white px-4 mb-2">
            <i class="icon-{{icon}} before:!bg-{{icon_color}}"></i>
            <span>{{ promoGame_title }}</span>
        </h2>
        
        <div class="flex space-x-3 px-4 overflow-x-auto">
        {% for i in range(0, 10) -%}
            
                <div class="max-w-[140px] ">
                   <div class="rounded-2xl w-[140px] h-[120px] bg-no-repeat bg-cover bg-center" style='background-image:url("{{ img }}/sample/Sample_{{sample_img}}.jpg")' alt="">
                        </div>
                         <div class="flex flex-col text-white text-md p-4">
                        <span>Gates of Olympus…</span>
                        <span class="text-White-opacity4">Pragmatic Play</span>
                    </div>
                   
                </div>
            
        {% endfor %}  
        </div>
    </div>
   </section>
{% endmacro %}

{% macro promoGame2(  promoGame_title="", img , sample_img) %}
   <section class="flex flex-col flex-initial min-w-0 mb-4  ">
        <h2 class=" flex items-center text-2xl space-x-2 text-white px-4 mb-2">
            <span>{{ promoGame_title }}</span>
        </h2>

        <div class="flex space-x-2 px-4 overflow-x-auto">
            {% for i in range(0, 10) -%}
                <div class="max-w-[100px] ">
                    <div class="rounded-2xl w-[100px] h-[100px] bg-no-repeat bg-cover bg-center" style='background-image:url("{{ img }}/games/Sample_{{sample_img}}.jpg")' alt="">
                    </div>
                    <div class="flex flex-col text-white text-xs p-2">
                        <span class="text-white">Piggy Tap</span>
                        <span class="text-White-opacity4">Pragmatic Play</span>
                    </div>

                  
                </div>
            {% endfor %}  
        </div>
        
        <div class="flex space-x-4 px-4 overflow-x-auto">
        {% for item in items -%}
            <div class="max-w-[180px] ">
                <div class="rounded-2xl w-[140px] h-[140px] bg-no-repeat bg-cover bg-center" style='background-image:url("{{ img }}/games/Sample_GameIcon-{{sample_img}}.jpg")' alt="">
                </div>
                <span>{{ item.text }}</span>
            </div>
        {% endfor %}  
        </div>
    </div>
   </section>
{% endmacro %}

 {% macro provider(  title="", icon="", img, icon_color , large , sample_img , classNameContent, classNameList='p-4') %}
   <section class="flex flex-col flex-initial min-w-0 mb-4 {{classNameContent}}">
        {% if title =="true" %}
            <h2 class=" flex items-center text-2xl space-x-2 text-white px-4">
                <i class="icon-{{icon}} before:!bg-{{icon_color}}"></i>
                <span>{{ title }}</span>
            </h2>
        {%endif%}
        
        <div class="flex space-x-2  overflow-x-auto {{ classNameList }}">
        {% for i in range(0, 10) -%}
            <div class="max-w-[180px] " onclick="prodiverOpen()">
                <div class="rounded-2xl w-[100px] h-[50px] bg-no-repeat bg-contain bg-center bg-dark-grey p-4" >
                    <img  class="w-full" src="{{ img }}/sample/Sample_{{sample_img}}.png" alt="">
                </div>
            </div>
        {% endfor %}  
        </div>
    </div>
   </section>
{% endmacro %}