{% extends "source/Views/include/htmllayout.njk" %}

{% block content %}
    {{ pageSection(img=img,title="公司介紹",content="我們提供專業的清潔服務，包括家庭清潔、辦公室清潔、工廠清潔等。",pic="13") }}

    <div class="container page--about-us">
        <div class="row">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <div class="d-flex flex-wrap">
                <h2 class="text-title fw-bold">關於永立群
                    <span class="sub-title">About Us</span>    
                </h2>
                <p class="lead">清潔與建物本體及室內裝潢的壽命，和居住者的健康息息相關，是生活中不可忽略卻又相當煩瑣的一環。</p>
                <p>現代人大多身兼數職，以致生活步調緊促，概觀市場之於清潔工作量與質的需求，日趨增加且嚴謹，且各行業亦趨向於專業分工且分項細微之勢。</p>
                <p>永立群為因應快速推陳出新的建材，和傢俱裝潢配件，與全省多家專業清潔材料經銷商配合，選擇使用符合環保的材料、清潔劑和機具，十多年的經驗累積，不斷研擬更新合適的施作方式，更秉持務實施作、誠信服務的態度經營，期能讓清潔的效能在生活中發揮得淋漓盡致。</p>
               
            </div>
            </div>
            <div class="col-lg-7">
                <div class="parallax-carousel">
                    <img src="{{img}}/demo/about_1.jpg" alt="">
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-md-12">
                <div class="d-flex flex-wrap">
                <h2 class="text-title fw-bold">
                    我們的服務項目
                </h2>
                 <ul class="list">
                    <li>外牆清洗</li>
                    <li>窗機(吊籠)租賃</li>
                    <li>建物清潔交屋</li>
                    <li>裝潢後交屋細清</li>
                    <li>公司住家年度大掃除</li>
                    <li>各類建築物駐場清潔維護勞務</li>
                    <li>地板石材清潔打蠟晶亮養護</li>
                    <li>水塔蓄水池清洗污泥抽離</li>
                    <li>同業工程支援</li>
                </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
