{% extends "source/Views/include/htmllayout.njk" %}

{% block content %}
    {{ pageSection(img=img,title="服務實例",url="./service.html",pic="13") }}

    <div class="container page--about-us">
        <div class="row">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <div class="d-flex flex-wrap">
                <h2 class="text-title fw-bold">聯絡我們
                    <span class="sub-title">Contact Us</span>    
                </h2>
                <div class="contact-info">
                <h3 class="sub-title">永立群股份有限公司</h3>
                <ul>
                    <li><i class="bi bi-telephone"></i>電話 : 03-6581988</li>
                    <li><i class="bi bi-printer"></i>傳真 : 03-6581986</li>
                    <li><i class="bi bi-envelope"></i>信箱 : luck@msa.hinet.net</li>
                    <li><i class="bi bi-geo-alt"></i>地址 : 新竹縣竹北市勝利六街72號</li>
                </ul>
                </div>
            </div>
            </div>
            <div class="col-lg-7">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.1452240456306!2d121.02375147552709!3d24.82470677795264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346836e45e213fa3%3A0xcf863035c4301ec0!2zMzAy5paw56u557ij56u55YyX5biC5Yud5Yip5YWt6KGXNzLomZ8!5e0!3m2!1szh-TW!2stw!4v1753622144489!5m2!1szh-TW!2stw" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

{% endblock %}
