{% extends "source/Views/include/htmllayout.njk" %}

{% block content %}
    {{ pageSection(img=img,title="服務實例" , title2="國立清華大學",url="./service.html",pic="13") }}

    <div class="container page--service">
        <div class="container">
            <h2 class="title-text">國立清華大學</h2>
            <div class="content">
                <p>磁磚檢測</p>
            </div>
        </div>
        <ul class="row service-detail">
            <li class="col-md-6">
                <div class="service-detail__img">
                    <img src="{{img}}/service/pic.jpeg" alt="">
                </div>
            </li>
            <li class="col-md-6">
                <img src="{{img}}/service/pic2.jpeg" alt="">
            </li>
            <li class="col-md-6">
                <div class="service-detail__img">
                    <img src="{{img}}/service/pic.jpeg" alt="">
                </div>
            </li>
            <li class="col-md-6">
                <img src="{{img}}/service/pic2.jpeg" alt="">
            </li>
        </ul>
    </div>

  
{% endblock %}
